* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;

}

.navbar {
  width: 100%;
  background: #000;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-size: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
}

.resp-btn {
  display: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #fff;
}

.nav-center .logo {
  width: 90px;
  height: auto;
  margin-right: 100px;
}

.search-btn {
  padding: 8px 16px;
  background: #232323;
  border: 2px solid #232323; 
  color: #979797;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background: #000000;
  
}

/* responsive */
@media (max-width: 768px) {

  .navbar {
    justify-content: space-between;
    padding: 10px 15px;
  }

  .resp-btn {
    display: block;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }

  .nav-left {
    gap: 10px;
  }

  .nav-center .logo {
    width: 70px;
    margin: 0;
  }

  .nav-right {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    left: 0;
    background: #000;
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .nav-links li {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #333;
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .center .slogan {
  background-color: none;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.container .center .down-slide {
    text-decoration: none;
    color: white;
    font-size: 80px;
}
@media (max-width: 768px) {
    .center {
        top: 80%;
    }
    .container .center .down-slide {
        font-size: 50px;
    }
}

.products-section {
  width: 100%;
  padding: 80px 0;
}

.products {
  max-width: 1400px;
  margin: auto;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.product-card {
  width: 22%;
  min-width: 260px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.product-name {
  margin: 15px 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.formats {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 12px;
}

.formats input {
  display: none;
}

.formats span {
  padding: 6px 12px;
  border: 1px solid black;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.formats input:checked + span {
  background-color: black;
  color: white;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.add-to-cart {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.add-to-cart:hover {
  background-color: #333;
}



@media (max-width: 1024px) {
  .products {
    padding: 0 40px;
  }

  .product-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .products {
    padding: 0 20px;
  }

  .product-card {
    width: 100%;
  }

  .product-card img {
    height: 600px;
  }
}



/*footer*/
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  flex-wrap: wrap;
  gap: 40px;
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  gap: 40px;
  flex: 2;
  flex-wrap: wrap;
}

.footer-column {
  min-width: 150px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #aaa;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #aaa;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fff;
}

.footer-right {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-right h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-right textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  resize: vertical;
  font-size: 14px;
}

.footer-right button {
  width: 100%;
  padding: 10px 0;
  background-color: #aaaaaa00;
  border: 2px solid white;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.footer-right button:hover {
  background-color: #fff;
  color: black;
}

.social-buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-btn img {
  width: 30px;
  height: 30px;
  filter: invert(1);
  cursor: pointer;
  transition: transform 0.3s;
}

.social-btn img:hover {
  transform: scale(1.1);
}


@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
  }

  .footer-left {
    gap: 30px;
    margin-bottom: 30px;
  }

  .footer-right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer-column h3,
  .footer-right h3 {
    font-size: 16px;
  }

  .footer-column p,
  .footer-column ul li,
  .footer-right textarea,
  .footer-right button {
    font-size: 13px;
  }

  .social-btn img {
    width: 25px;
    height: 25px;
  }
}

.copyright {
  padding: 20px;
  text-align: center;
}